<div class="row">
<div class="col-xs-4">
<%= bootstrap_form_for @person do |f| %>
  <% if @person.errors.any? %>
      <% @person.errors.full_messages.each do |message| %>
        <script type="text/javascript">
        $.growl.error({ message: "<%= j message %>"});
        </script>
      <% end %>
  <% end %>
  <%= f.select :category, ["Investigator","Less Active","Recent Convert"] %>
  <%= f.text_field :name %>
  <%= f.text_field :phone %>
  <%= f.text_field :address %>
  <%= f.text_field :age, class: 'datepicker' %>
  <%= f.select :gender, ["Male","Female"] %>
  <%= f.number_field :attendance %>
  <%= f.text_field :baptism, class: 'datepicker' %>
  <%= f.text_field :confirmation, class: 'datepicker' %>
  <%= f.text_field :priesthood, class: 'datepicker' %>
  <%= f.text_area :help %>
  <%= f.select :teacher_id, Teacher.all.map {|t| [t.name, t.id]} %>
  <%= f.primary %>
<% end %>
</div>
</div>
