<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :address %><br>
    <%= f.text_field :address %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.datetime_select :age %>
  </div>
  <div class="field">
    <%= f.label :gender %><br>
    <%= f.text_field :gender %>
  </div>
  <div class="field">
    <%= f.label :attendance %><br>
    <%= f.text_field :attendance %>
  </div>
  <div class="field">
    <%= f.label :baptism %><br>
    <%= f.datetime_select :baptism %>
  </div>
  <div class="field">
    <%= f.label :confirmation %><br>
    <%= f.datetime_select :confirmation %>
  </div>
  <div class="field">
    <%= f.label :priesthood %><br>
    <%= f.datetime_select :priesthood %>
  </div>
  <div class="field">
    <%= f.label :help %><br>
    <%= f.text_area :help %>
  </div>
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.text_field :teacher_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
