<div class="row">
<div class="col-xs-4">
<%= bootstrap_form_for @visit do |f| %>
  <% if @visit.errors.any? %>
    <% @visit.errors.full_messages.each do |message| %>
      <script type="text/javascript">
        $.growl.error({ message: "<%= j message %>"});
      </script>
    <% end %>
  <% end %>
    <%= f.text_field :time, class: 'datepicker' %>
    <%= f.text_area :location %>
    <%= f.text_area :lesson %>
    <%= f.text_area :description %>
    <%= f.text_area :summary %>
    <%= f.primary %>
<% end %>
</div>
</div>
