<p id="notice"><%= notice %></p>

<h1>Listing Visits</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Time</th>
      <th>Location</th>
      <th>Lesson</th>
      <th>Description</th>
      <th>Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @visits.each do |visit| %>
      <tr>
        <td><%= visit.time %></td>
        <td><%= visit.location %></td>
        <td><%= visit.lesson %></td>
        <td><%= visit.description %></td>
        <td><%= visit.summary %></td>
        <td><%= link_to 'Show', visit %></td>
        <td><%= link_to 'Edit', edit_visit_path(visit) %></td>
        <td><%= link_to 'Destroy', visit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Visit', new_visit_path %>
