<div class="row">
<div class="col-xs-4">
<%= bootstrap_form_for @teacher do |f| %>
  <% if @teacher.errors.any? %>
    <% @teacher.errors.full_messages.each do |message| %>
      <script type="text/javascript">
        $.growl.error({ message: "<%= j message %>"});
      </script>
    <% end %>
  <% end %>
    <%= f.text_field :name %>
    <%= f.text_field :phone %>
    <%= f.primary %>
<% end %>
</div>
</div>
